{% extends "recipes/base.html" %}

{% block content %}
    <h1>About This Cookbook</h1>
    <hr>

    <h2>A tribute to my mom, Fern Walter</h2>
    <p>
        This digital cookbook is a loving tribute to my mother, Fern. She was an amazing cook whose greatest joy was bringing family together around the dinner table. Her original recipe box, filled with handwritten cards stained with vanilla and butter, is the inspiration for this project. Each recipe here holds a memory, a story, and a whole lot of love.
    </p>
    <p>
        This collection is built to preserve her legacy and make it easy for our family and friends to recreate the dishes that defined our celebrations and comforted our quiet evenings.
    </p>
    <p>
        I origingally put this collection together in a PDF format a couple of years ago. It was a horrible execution of the project. I've tired to make this one easier to find the recipes you want and make them so you can print the recipe or display it on your device.
    </p>

    <h2>Frequently Asked Questions (FAQs)</h2>
    <p>
        <strong>Q: Can I share these recipes?</strong><br>
        A: Absolutely! Please feel free to share the link to this website with friends and family.
    </p>
    <p>
        <strong>Q: Where are missing recipes?</strong><br>
        A: If you have a recipe from Fern that is not listed, please email me a picture of the recipe card and send it to my email with a subject line of "Missing Recipe of Fern's" and I'll add it right away.
    </p>
    <p>
        <strong>Q: How can I make a web based recipe box of my grandmother, mother, wife or sister's recipe collection?</strong><br>
        A: I've got it down to a relatively easy process. Come vist for a few days and we can knock it out together. Or contact me and I can give you details on what you need to provide.
    </P>

    <h2>Contact Me</h2>
    <p>
        If you have a question, find a typo, or just want to share a memory of one of these recipes, I would love to hear from you. You can reach me at brent@bwalter.org or text me at (503) 855 9074.
    </p>

{% endblock %}